##modulCFG##
name<=>campaign<#>
mainTable<=>campaign<#>
modulBase<=>modulframe<#>
impPath<=>campaign/<#>
viewDescription<=>0<#>
is_newItemcount<=>0<#>
noCopy<=>0
##/modulCFG##
##listCFG##
simple<=>order<=>name<=>x_name<#>
insertwhowhen<=>order<=>insertWhen<=>x_insertWhen<#>
active<=>icon<=>active<=>x_active<#>
optionView<=>selectName<=>lang<=>x_langID<=>id<=>name
##/listCFG##
##inputCFG##
optionSelect<=>advertiser<=>x_advertiserID<=>id<=>name<#>
simple<=>x_name<=>62<=>100<#>
optionSelect<=>zone<=>x_zoneID<=>id<=>name<#>
optionSelect<=>site<=>x_siteID<=>id<=>name<#>
datePanel<=>x_activateWhen<=>20<=>20<#>
datePanel<=>x_deactivateWhen<=>20<=>20<#>
simple<=>x_playMaxNum<=>20<=>20<#>
simple<=>x_playCounter<=>20<=>20<#>
simple<=>x_clickMaxNum<=>20<=>20<#>
simple<=>x_clickCounter<=>20<=>20<#>
simple<=>x_priceMax<=>20<=>20<#>
simple<=>x_priceActual<=>20<=>20<#>
editorText<=>x_description<=>740<=>200<#>
simpleText<=>x_comment<=>115<=>10<#>
optionSelect<=>lang<=>x_langID<=>id<=>name<#>
##/inputCFG##
##viewCFG##
optionSelect<=>advertiser<=>x_advertiserID<=>id<=>name<#>
simple<=>x_name<=>62<=>100<#>
optionSelect<=>zone<=>x_zoneID<=>id<=>name<#>
optionSelect<=>site<=>x_siteID<=>id<=>name<#>
datePanel<=>x_activateWhen<=>20<=>20<#>
datePanel<=>x_deactivateWhen<=>20<=>20<#>
simple<=>x_playMaxNum<=>20<=>20<#>
simple<=>x_playCounter<=>20<=>20<#>
simple<=>x_clickMaxNum<=>20<=>20<#>
simple<=>x_clickCounter<=>20<=>20<#>
simple<=>x_priceMax<=>20<=>20<#>
simple<=>x_priceActual<=>20<=>20<#>
editorText<=>x_description<=>740<=>200<#>
simpleText<=>x_comment<=>115<=>10<#>
optionSelect<=>lang<=>x_langID<=>id<=>name<#>
##/viewCFG##
##checkCFG##
empty<=>x_name<=>name<#>
duplicate<=>x_name<=>name<=>name=;x_name<=>id!=;x_id,name=;x_name
##/checkCFG##
##positionCFG##
x_name<=>case<#>
x_name<=>default
##/positionCFG##
##deleteCFG##
simple<=>campaign WHERE id=
##/deleteCFG##
##basicSearchFieldsCFG##
name<#>
advertiserName<#>
siteName<#>
langName<#>
insertName<#>
description
##/basicSearchFieldsCFG##
##relatedTablesCFG##
advertiser<=>name<=>advertiserID<=>advertiserName<=>,<#>
site<=>name<=>siteID<=>siteName<=>,<#>
lang<=>name<=>langID<=>langName<=>,<#>
users<=>nickname<=>insertUserID<=>insertName<=>
##/relatedTablesCFG##
##javascriptCFG##
jquery-1.7.1<#>
/ui/jquery.ui.core<#>
/ui/jquery.ui.widget<#>
/ui/jquery.ui.datepicker<#>
/ui/jquery.ui.datepicker-hu
##/javascriptCFG##
